.instruction {
  &__title {
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    max-width: 470px;
    padding-left: 23px;

    p {
      position: relative;
      padding-left: 20px;
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 24px;

      letter-spacing: 0.1em;
    }
  }

  &__item {
    padding: 40px 60px 50px;
    max-width: 585px;
    text-align: center;

    p {
      margin-bottom: 28px;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.05em;

      color: #FFFFFF;

      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    }
  }
}