.statistics {

  &__title {
    margin-bottom: 56px;
  }

  &__inner {
    max-width: 890px;
    margin: 0 auto;
  }

  &__text {
    margin-bottom: 43px;

    p {
      font-size: 18px;
      line-height: 26px;
      /* or 144% */

      letter-spacing: 0.1em;
    }
  }

  &__list {
    padding-right: 43px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      position: relative;

      &:last-child {
        margin: 0;
      }

      &:first-child {
        .progressbar-value {
          right: 111px;
        }
      }

      &:nth-child(2) {
        .progressbar-value {
          right: 142px;
        }
      }

      &:nth-child(3) {
        .progressbar-value {
          right: 161px;
        }
      }

      &:nth-child(4) {
        .progressbar-value {
          right: 260px;
        }
      }

      &:nth-child(5) {
        .progressbar-value {
          right: 282px;
        }
      }

      &:nth-child(6) {
        .progressbar-value {
          right: 329px;
        }
      }

      &:nth-child(7) {
        .progressbar-value {
          right: 364px;
        }
      }

      &:last-child {
        .progressbar-value {
          right: 389px;
        }
      }
    }
  }

  &__label {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  &__small {
    position: absolute;
    top: -3px;
    right: -183px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;

    letter-spacing: 0.1em;
  }

}


.progressbar-value {
  position: absolute;
  right: 0;
  top: -3px;
  font-weight: bold;
  font-size: 20px;
}