.feedback {
  background: url('../img/lion-and-man.png') right bottom no-repeat,
    url('../img/bg-gray.jpg') center/cover no-repeat;

  &__text {
    max-width: 660px;

    p {
      margin-bottom: 38px;
      font-weight: 500;
      font-size: 20px;
      line-height: 36px;
      /* or 180% */

      letter-spacing: 0.1em;
    }
  }

  &__title {
    margin-bottom: 33px;
  }

  &__btn {
    max-width: 330px;
  }
}