.cooperation {
  background: url('../img/wolf.png') right bottom no-repeat,
              url('../img/bg-gray.jpg') center/cover no-repeat;

  &__text {
    max-width: 480px;

    p {
      margin-bottom: 50px;
      font-weight: 500;
      font-size: 20px;
      line-height: 36px;
      /* or 180% */

      letter-spacing: 0.1em;
    }
  }

  &__title {
    margin-bottom: 30px;
  }
}

.form {
  max-width: 413px;

  &__input {
    border: none;
    margin-bottom: 22px;
    background: rgba(255, 255, 255, 0.9);
  }

  &__btn {
    margin-bottom: 26px;
  }

  small {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }
}