.info {

  &__title {
    margin-bottom: 75px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 100px;
  }

  &__item {
    position: relative;
    width: 43%;


    &-title {
      font-family: 'Jost', sans-serif;
      width: 0;
      white-space: nowrap;
      position: absolute;
      bottom: -27px;
      left: 0;
      transform: rotate(-90deg);
      font-weight: bold;
      font-size: 24px;
      color: #fff;
      line-height: 35px;
      letter-spacing: 0.1em;
      text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);

      span {
        color: var(--color-orange);
      }


      &::after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 233px;
        height: 4px;
        background-color: var(--color-orange);
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 215px;
      padding-left: 50px;

      p {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;

        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }
    }

  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      max-width: 285px;
      text-align: center;
      font-family: 'Jost', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #fff;

      span {
        display: block;
        font-weight: bold;
        font-size: 48px;
        line-height: 69px;

        color: var(--color-orange);

        text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.info__item_mobile {
  display: none;
}