.gallery {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 2;
  }

}

.gallery-top {
  position: relative;
  height: 100%;
  width: 100%;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
  }
}

.gallery-top__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery-thumbs {
  overflow: hidden;
  position: absolute;
  padding: 0 62px;
  height: 113px;
  z-index: 1;
  bottom: 30px;
  left: 0;
  right: 0;
}

.gallery-thumbs__img {
  width: 113px;
  height: 113px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.gallery-button {
  position: absolute;
  top: 0;
  width: 113px;
  height: 113px;
  z-index: 3123;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .3);
  cursor: pointer;

  &-next {
    right: -60px;

    &::after {
      left: 15px;
      background: url('../img/arrow-right.svg') center/contain no-repeat;
    }
  }

  &-prev {
    left: -60px;

    &::after {
      right: 15px;
      background: url('../img/arrow-prev.svg') center/contain no-repeat;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
  }
}

.gallery-thumbs .swiper-slide {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.gallery-thumbs .swiper-slide-thumb-active {
  &::before {
   display: none;
  }
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  display: none;
}