.sign-up {
  background: url('../img/girl-and-snake.png') right bottom no-repeat,
    url('../img/bg-gray.jpg') center/cover no-repeat;

  &__title {
    margin-bottom: 81px;
    max-width: 470px;
  }

  &__list {
    padding-left: 23px;
    margin-bottom: 55px;
    max-width: 500px;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 25px;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;

      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

      &:last-child {
        margin: 0;
      }
    }
  }

  &__btn {
    max-width: 330px;
  }
}